input[name=answer], .problem hr {
  border-style: none;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; }

input[name=answer] {
  width: 2em; }

body, html, #problemContainer {
  height: 100%; }

#problemContainer {
  display: table;
  margin: 0 auto; }

.problem {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold; }
  .problem input {
    border-bottom-style: dotted; }

input[name=answer] {
  text-align: center; }

.message .correct, .message .incorrect, .message input {
  font-weight: bold; }
.message .correct {
  color: green; }
.message .incorrect {
  color: red; }
