input[name=answer], .problem hr {
  border-style: none;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; }

input[name=answer] {
  width: 2em; }

body, html, #problemContainer {
  height: 100%; }

body {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav {
  position: absolute;
  right: 0;
  top: 0; }
  nav ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style: none; }

#problemContainer {
  display: table;
  margin: 0 auto; }

.problem {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold; }
  .problem input {
    border-bottom-style: dotted; }

input[name=answer] {
  text-align: center; }

.message .correct, .message .incorrect, .message input {
  font-weight: bold; }
.message .correct {
  color: green; }
.message .incorrect {
  color: red; }
