%borderbottom
  border-style: none
  border-bottom-width: 2px
  border-bottom-color: black
  border-bottom-style: solid

.problem
  font-weight: bold

  hr
    @extend %borderbottom

  input
    width: 2em
    @extend %borderbottom
    border-bottom-style: dotted
