%borderbottom
  border-style: none
  border-bottom-width: 2px
  border-bottom-color: black
  border-bottom-style: solid

%smallinput
  @extend %borderbottom
  width: 2em

input[name=answer]
  @extend %smallinput
  text-align: center

.problem
  font-weight: bold

  hr
    @extend %borderbottom

  input
    border-bottom-style: dotted

.message
  .correct, .incorrect, input
    font-weight: bold

  .correct
    color: green

  .incorrect
    color: red
