%borderbottom
  border-style: none
  border-bottom-width: 2px
  border-bottom-color: black
  border-bottom-style: solid

%smallinput
  @extend %borderbottom
  width: 2em

body, html, #problemContainer
  height: 100%

body
  margin: 0

a
  color: black
  text-decoration: none

  &:hover
    text-decoration: underline

nav
  position: absolute
  right: 0
  top: 0

  ul
    margin: 0
    margin-bottom: 5px
    padding: 0
    list-style: none

#problemContainer
  display: table
  margin: 0 auto

.problem
  display: table-cell
  vertical-align: middle
  font-weight: bold

  hr
    @extend %borderbottom

  input
    border-bottom-style: dotted

input[name=answer]
  @extend %smallinput
  text-align: center

.message
  .correct, .incorrect, input
    font-weight: bold

  .correct
    color: green

  .incorrect
    color: red
