[submodule "lib/backbone"]
	path = lib/backbone
	url = https://github.com/documentcloud/backbone
[submodule "lib/underscore"]
	path = lib/underscore
	url = https://github.com/documentcloud/underscore/
[submodule "lib/backbone-localstorage"]
	path = lib/backbone-localstorage
	url = https://github.com/jeromegn/Backbone.localStorage
