<!doctype html>
<html>
<head>
	<title>Math!</title>
	<meta charset=utf-8>
</head>

<body>
	<nav>
		<ul>
			<li>
				<a href=#config>config</a>
			</li>
			<li>
				<a href=#reset>reset</a>
			</li>
			<li>
				<a href=#practice/addition>addition</a>
			</li>
			<li>
				<a href=#practice/subtraction>subtraction</a>
			</li>
		</ul>
	</nav>
	<div class=problem>
	</div>
	<script id=problem-template-0 type=text/html>
		<div class=problem>
			<form method=post>
				<%= operand0 %> <%= operator %> <%= operand1 %> = <input name=answer autofocus autocomplete=off>
			</form>
		</div>
	</script>
	<script id=problem-template-1 type=text/html>
		<div class=problem>
			<form method=post>
				<input name=answer autofocus autocomplete=off> = <%= operand0 %> <%= operator %> <%= operand1 %>
			</form>
		</div>
	</script>
	<script id=problem-template-2 type=text/html>
		<div class=problem>
			<form method=post>
				<%= operand0 %>
				<%= operator %> <%= operand1 %>
				<hr>
				<input name=answer autofocus autocomplete=off>
			</form>
		</div>
	</script>
	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js></script>
	<script src=lib/underscore/underscore-min.js></script>
	<script src=lib/backbone/backbone-min.js></script>
	<script src=js/app.js></script>
</body>
</html>
